<link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">

<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
  <a class="navbar-brand" href="http://localhost:4200/">
    <img src="assets/images/Logo_surf2.png"  alt="Home page" height="60">
  </a>
  <div class="navbar-responsive-collapse" id="navbarNav">
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item">
        <a class="nav-link" href="http://localhost:4200/beaches/list">Tourist</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="http://localhost:4200/beaches/surf">Surfer</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="http://localhost:4200/beaches/news">News</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="http://localhost:4200/beaches/gallery">Gallery</a>
      </li>
    </ul>
  </div>
</nav>

<!--Header-->
<div class="row header">
  <div class="col-sm-12 header">
    <h1 class="page-title">News</h1>
  </div>
</div>

<body>
  <div class="container">
<!--News-->
<div class="bg-1">
  <h1 class="title">
    Curiosità dal mondo del Surf:
  </h1>
  <div class="row text-center">
     <div class="col-sm-4 news one">
      <div class="thumbnail">
        <img src="assets/images/surf2.jpg" width="100%" height="80%">
        <p><strong>Mediterranean Ocean</strong></p> 
        <a href="http://www.4actionsport.it/mediterranean-ocean/" target="_blank"> <p>La meteorologia, nel surf, gioca un ruolo fondamentale, soprattutto in Italia e in generale nel Mediterraneo...<strong>[Leggi Tutto]</strong></p> </a>
      </div>
    </div>
    <div class="col-sm-4 news two">
      <div class="thumbnail">
        <img src="assets/images/surf7.jpg"  width="100%" height="80%">
        <p><strong>Il global warming aumenta la potenza delle onde</strong></p>
        <a href="http://www.4actionsport.it/global-warming-oceano-aumenta-potenza-onde/" target="_blank"> <p>Il riscaldamento dell'oceano sta influenzando il comportamento del moto ondoso a livello planetario...<strong>[Leggi Tutto]</strong></p> </a>
      </div>
  </div>
  <div class="col-sm-4 news three">
    <div class="thumbnail">
      <img src="assets/images/surf3.jpg" width="100%" height="80%">
      <p><strong>Surfers Sardi conquistano i Capo Mannu Surf Games</strong></p>
      <a href="http://www.4actionsport.it/vincitori-sardi-fisw-capo-mannu-surf-games-2019/" target="_blank"> <p>Si conclude oggi la terza edizione dei FISW Capo Mannu Surf Games 2019, il Campionato Italiano di Surf...<strong>[Leggi Tutto]</strong></p> </a>
    </div>
  </div>
  </div> 
  
  <div class="row text-center">
    <div class="col-sm-4 news one">
     <div class="thumbnail">
       <img src="assets/images/surf6.jpg" width="100%"  height="80%">
       <p><strong>Sardegna: finale del campionato italiano junior</strong></p> 
       <a href="http://www.4actionsport.it/sardegna-finale-del-campionato-italiano-junior/" target="_blank"> <p>Un piccolo esercito di giovani talenti del surf è pronto ad arrivare a Buggerru....<strong>[Leggi Tutto]</strong></p> </a>
     </div>
   </div>
   <div class="col-sm-4 news two">
    <div class="thumbnail">
      <img src="assets/images/surf5.jpg"  width="100%" height="80%">
      <p><strong>Swell report: mediterranean epic week</strong></p>
      <a href="http://www.4actionsport.it/swell-report-mediterranean-epic-week/" target="_blank"> <p>Il flusso di correnti occidentali, pilotato da una bassa pressione profonda e insolitamente persistente sull’Europa centrale...<strong>[Leggi Tutto]</strong></p> </a>
    </div>
</div>
 <div class="col-sm-4 news three">
   <div class="thumbnail">
     <img src="assets/images/surf8.jpg" width="100%" height="80%">
     <p><strong>Proclamati i nuovi campioni longboard WSL 2019 </strong></p>
     <a href="http://www.4actionsport.it/proclamati-i-nuovi-campioni-mondo-wsl-longboard-2019/" target="_blank"> <p>L’hawaiana Honolua Blomfield ha vinto il suo secondo titolo mondiale Longboard...<strong>[Leggi Tutto]</strong></p> </a>
   </div>
 </div>
 </div>  
</div>

</div>
</body>
<!--Footer-->
<footer class="text-center">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <p> TNV Beaches - tnvmeteosurf@gmail.com </p>
  <a href="#" class="fa fa-facebook"></a>
  <a href="#" class="fa fa-instagram"></a>
</footer>