<link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">

<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
  <a class="navbar-brand" href="http://localhost:4200/">
    <img src="assets/images/Logo_surf2.png"  alt="Home page" height="60">
  </a>
  <div class="navbar-responsive-collapse" id="navbarNav">
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item ">
        <a class="nav-link" href="http://localhost:4200/beaches/list">Tourist</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://localhost:4200/beaches/surf">Surfer</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="http://localhost:4200/beaches/news">News</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="http://localhost:4200/beaches/gallery">Gallery</a>
      </li>
    </ul>
  </div>
</nav>

<!--Header-->
<div class="row header">
  <div class="col-sm-12 header">
    <h1 class="page-title">Gallery</h1>
  </div>
</div>    

<!-- Gallery -->
<h1 class="title">
  
</h1>
<div class="row gallery"> 
  <div class="column">
    <img src="assets/images/surf1.jpg">
    <img src="assets/images/surf2.jpg" >
    <img src="assets/images/surf3.jpg" >
    
    
  </div>
  <div class="column">
    <img src="assets/images/surf6.jpg">
    <img src="assets/images/surf7.jpg" >
    <img src="assets/images/surf8.jpg" >
    <img src="assets/images/surf9.jpg" >
    
  </div>
  <div class="column">
    <img src="assets/images/surf13.jpg">
    <img src="assets/images/surf12.jpg" >
    <img src="assets/images/surf11.jpg" >
    <img src="assets/images/surf14.jpg" >
    <img src="assets/images/surf4.jpg" >
    
  </div> 
  <div class="column">
    <img src="assets/images/surf5.jpg" >
    <img src="assets/images/surf10.jpg" >
    <img src="assets/images/surf15.jpg" >
    <img src="assets/images/surf16.jpg" >
    
  </div>
</div>

<!--Footer-->
<footer class="text-center">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <p> TNV Surf - tnvsurf@gmail.com </p>
  <a href="#" class="fa fa-facebook"></a>
  <a href="#" class="fa fa-instagram"></a>
</footer>
