<link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">

<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
  <a class="navbar-brand" href="http://localhost:4200/">
    <img src="assets/images/Logo_surf2.png"  alt="Home page" height="60">
  </a>
  <div class="navbar-responsive-collapse" id="navbarNav">
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item active">
        <a class="nav-link" href="http://localhost:4200/beaches/list">Tourist</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://localhost:4200/beaches/surf">Surfer</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="http://localhost:4200/beaches/news">News</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="http://localhost:4200/beaches/gallery">Gallery</a>
      </li>
    </ul>
  </div>
</nav>

<!--Header-->
<div class="row header">
  <div class="col-sm-12 header">
    <h1 class="page-title">Tourist</h1>
  </div>
</div>

<!--Table-->
<div class="container">
  <h1 class="my-3">
    Le spiagge più belle della Sardegna
    <!--<a [routerLink]="['../create']">
      <i id="addButton" class="fas fa-plus-square" aria-hidden="true"></i>
    </a>-->
  </h1>


  <div *ngIf="loaded" class="order-list my-3 text-right">
    <h4 class="d-inline-block mr-2">Ordina per: </h4>
    <form (change)="radioChange()">
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="park" name="radio" class="custom-control-input" value="park"
               [(ngModel)]="radioValue">
        <label class="custom-control-label" for="park">Parcheggio</label>
      </div>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="summer_crowding" name="radio" class="custom-control-input" value="summer_crowding"
               [(ngModel)]="radioValue">
        <label class="custom-control-label" for="summer_crowding">Affollamento</label>
      </div>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="traffic" name="radio" class="custom-control-input" value="traffic" [(ngModel)]="radioValue">
        <label class="custom-control-label" for="traffic">Traffico</label>
      </div>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="weather" name="radio" class="custom-control-input" value="weather" [(ngModel)]="radioValue">
        <label class="custom-control-label" for="weather">Meteo</label>
      </div>
    </form>
  </div>

  <table *ngIf="loaded && beaches.length > 0" class="table">
    <thead>
    <tr class="text-center">
      <th>Nome</th>
      <th>Città</th>
      <th>Orientamento Spiaggia</th>
      <th>Parcheggio</th>
      <th>Affollamento</th>
      <th>Traffico</th>
      <th>Meteo</th>
    </tr>
    </thead>
    <tbody>
    <tr class="table-element cursor-pointer text-center" *ngFor="let beach of beaches.slice(0, 15)" (click)="goToDetails(beach.id)">
      <td>{{ beach.name }}</td>
      <td>{{ beach.city + ' (' + beach.province + ')' }}</td>
      <td> <div *ngIf="beach.orientation == 'Sud'"> <img src="assets/images/orientation/image-down2.png" alt=""> </div>
        <div *ngIf="beach.orientation == 'Nord'"> <img src="assets/images/orientation/image-up2.png" alt=""> </div>
        <div *ngIf="beach.orientation == 'Est'"> <img src="assets/images/orientation/image-right2.png" alt=""> </div>
        <div *ngIf="beach.orientation == 'Ovest'"> <img src="assets/images/orientation/image-left2.png" alt=""> </div> 
   </td>
      <!-- <td><i class="fas fa-2x {{ getOrientationArrow(beach.orientation) }}"></i></td> -->
      <td class="text-center"><i class="fas fa-lg {{getInfoClassPark(beach.park)}}"></i></td>
      <td><i class="fas fa-lg {{getInfoClassCrowd(beach.summer_crowding)}}"></i></td>
      <td>
<!--        <div class="rounded-circle m-auto text-center {{getTrafficClass(beach.traffic)}}"><p>{{beach.traffic}}</p></div>-->
      <div class="rounded with text-center {{getTrafficClass(beach.traffic)}}"><p>{{beach.traffic}} %</p></div>
      </td>
      <td class="weather-icon"><img [src]="beach.weatherIcon" alt="meteo"></td>
     
    </tr>
    </tbody>
  </table>

  <h3 *ngIf="loaded && beaches.length === 0">Non ci sono ancora spiagge! Provvedi ad aggiungerne.</h3>

  <h3 *ngIf="!loaded">Loading...</h3>
</div>


<!--Footer-->
<footer class="text-center">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <p> TNV Surf - tnvsurf@gmail.com </p>
  <a href="#" class="fa fa-facebook"></a>
  <a href="#" class="fa fa-instagram"></a>
</footer>

