<link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">

<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
  <a class="navbar-brand" href="http://localhost:4200/">
    <img src="assets/images/Logo_surf2.png"  alt="Home page" height="60">
  </a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item">
        <a class="nav-link" href="http://localhost:4200/beaches/list">Meteo</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="http://localhost:4200/beaches/surf">Surf</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://localhost:4200/beaches/news">News</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://localhost:4200/beaches/gallery">Gallery</a>
      </li>
    </ul>
  </div>
</nav>

<body>
  
    <section id= cover>
      <h1>Il Meteo per le tue Vacanze</h1>
      <h2>Fare surf in Sardegna</h2>
      <a class="btn btn-outline-info" href="http://localhost:4200/beaches/list"> Meteo </a>
      <a class="btn btn-outline-warning" href="http://localhost:4200/beaches/surf"> Surf </a>
    </section>
    
</body>

<footer class="text-center">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <p> TNV Beaches - tnvmeteosurf@gmail.com </p>
  <a href="#" class="fa fa-facebook"></a>
  <a href="#" class="fa fa-instagram"></a>
</footer>
