<link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">

<body>
  
    <section id= cover>
      <img src="assets/images/Logo_sur3.png" height="200">
      <p></p>
      <h2>Enjoy life, <br>one wave at a time.</h2>
      <a class="btn btn-outline-info" href="http://localhost:4200/beaches/list"> Tourist </a>
      <a class="btn btn-outline-warning" href="http://localhost:4200/beaches/surf"> Surfer </a>
    </section>
    
</body>

<footer class="text-center">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <p> TNV Surf - tnvsurf@gmail.com </p>
  <a href="#" class="fa fa-facebook"></a>
  <a href="#" class="fa fa-instagram"></a>
</footer>
